<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ET.Properties.Settings.misdb94ConnectionString" connectionString="Data Source=192.168.100.200\MIS;Initial Catalog=misdb94;Persist Security Info=True;User ID=sa;Password=Soft2000IctDB" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
